*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
    animation: bgAni 6s ease-in-out alternate infinite;
}

.left{
    background-color: brown;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 0px;
    animation: leftgate 5s ease-in-out alternate infinite;
}

.left .dot{
    position: relative;
    right: -50px;
    top: 0px;
    width: 100px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.left .gateconnect{
    background-color: brown;
    width: 100px;
    height: 95px;
    position: relative;
    z-index: 3;
}

.left .dot{
    position: relative;
    right: -50px;
    top: 0px;
    width: 100px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.left .gateconnect{
    background-color: brown;
    width: 100px;
    height: 95px;
    position: relative;
    z-index: 3;
}

.right{
    background-color: brown;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 0px;
    animation: rightgate 5s ease-in-out alternate infinite;
}

.right .dot{
    position: absolute;
    left: -50px;
    top: 0px;
    width: 100px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.right .gateconnect{
    background-color: brown;
    width: 100px;
    height: 95px;
    position: relative;
    z-index: 3;
}

/* 
.right{
    background-color: black;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 0px;
    animation: rightgate 5s ease-in-out alternate infinite;
}

.right .dot{
    position: absolute;
    left:-50px;
    top: 0px;
    width: 100px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    z-index: 888;
}

.right .gateconnect{
    background-color: black;
    width: 100px;
    height: 95px;
    position: relative;
} */


#name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    animation: nameAni 5s ease-in-out alternate infinite;
    visibility: hidden;
}

#name h1{
    font-size: 92px;
}

#name h2{
   font-size: 18px;
   letter-spacing: 30px;
   margin-left: 20px;
}

@keyframes leftgate{

0%{
    left: 0px;
}

100%{
    left: -50%;
}


}



@keyframes rightgate{

    0%{
        right: 0px;
    }
    
    100%{
        right: -50%;
    }
    
    
    }

    @keyframes nameAni{

        0%{
            top: -50%;
            visibility: hidden;
        }
        
        100%{
            top: 50%;
            visibility: visible;
        }
        
        
        }
    

@keyframes bgAni{
    
    0%{
        background-color: darkcyan;
    }

    25%{
        background-color: teal;
    }

   75%{
        background-color: orangered;
    }

    100%{
        background-color: yellowgreen;
    }

}